body {
	margin-left: 0px;
	background-image: url("tlo.png");
	padding-left: 0px;

}

.menu-image{
	background-image: url("kwiaty.jpg");
	height: 600px;
	width: 1128px;

}

.menu {
    background: transparent url("menu.png") no-repeat scroll left top;
    height: 67px;
    position: fixed;
    width: 1128px;
}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
 color: #FFA07A;
}

a {
    display: block;
    padding: 8px;
}

ul {
    list-style-type: none;
    margin-left: 300px;
    margin-top: 0px;
    padding-top: 0px;
    overflow: hidden;
;
}

.active {
    background-color: white;
}
